
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    border: 20px solid #87CEEB;
    border-radius: 25px;
    border-top: 5px solid #87CEEB;
    border-bottom: 0px solid #87CEEB;
}

nav ul {
    margin: 0;
    padding: 20px 0 0 0;
}

nav ul li {
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    
}


header {
    display: flex;
    padding-bottom: 10px;
}

nav {
    flex-grow: 1;
    padding-left: 35%;
}

ul {
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-flow: right;

}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 450px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}
main {
    background-color: #87CEEB;

}

 section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

footer {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 20px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#fact {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#fact ul  {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
}

#fact h2 {
    margin-left: -32px;
}


#race img {
    margin-left: -50px;
    height: 200px;
    width: auto;
    grid-area: img;
}
#text {
    grid-area: text;
    text-align: center;
    margin-top: -20px;
}
#race{
    grid-area: race;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
    ". text"
    "img text"
    ". text";
}
#store {
    grid-area: store;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: 
    ". h2 ."
    "p p p"
    ". bttn . ";
    text-align: center;
}
#text p {
    text-align: left;
    margin-top: 75px;
    
}

#store h2 {
    grid-area: h2;
    
}

#store p {
    grid-area: p;
    text-align: left;
    margin-bottom: -20px;
}

#button  {
    height: 0px;
    grid-area: bttn;
}


#racestore {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-areas: 
    "race . store"
    ;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #87CEEB;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 800px){
    header{
        grid-area: header;
        display: flex;
        flex-direction: column;
    }
    #fact {
        display: flex;
        align-items: center;
        border-radius: 5px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #rainbow{
       
    }
    #store{
        margin-top: 12px;
    }
    #racestore {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "race"
        "store"
        ;
        margin-left: -20px;
        margin-right: -20px;
        background-color: #87CEEB;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main{
        display: grid;
    
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "fact"
    "race"
    "store"
    ;
    }
}
